<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FirstPage</title>
</head>
<body>
    <h2 align="center" style="background-color:DodgerBlue;">What to say</h2>
    <p>It contains the matter to what <br>to say Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis blanditiis dignissimos sunt. Non nemo<br> suscipit porro minus voluptates obcaecati quo ipsum facilis vero minima<br> exercitationem fugiat adipisci, praesentium totam temporibus! Dignissimos eligendi<br> suscipit distinctio aperiam deleniti impedit rerum numquam. Aliquid distinctio <br>incidunt corrupti dolorem dolorum dolores maxime vel repellendus explicabo.</p>
    <h2 align="center">Table Creation</h2>
    <table border="5" align="center" >
        <tr>
            <th>S.no</th>
            <th>Name</th>
            <th>Area</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Rajesh</td>
            <td>Hyd</td>
            <td>22</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Rajesh-2</td>
            <td>mumbai</td>
            <td>23</td>
        </tr>
    </table>

    <h2 align="center">HTML Forms</h2>
<form action="/action_page.php" align="center">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>